.notice_container {
    padding: 150px 0;
}

.notice {
    padding: 0 300px;
    display: flex;
    justify-content: space-between;
}

.notice_container .notice .notice_text > p {
    font-family: 'GmarketSansLight';
    font-size: 50px;
}

.notice_container .notice .notice_text > p > span {
    font-family: 'GmarketSansMedium';
    font-size: 50px;
}

.notice_container .notice .text_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

.notice_container .notice .text_list > li {
    font-family: 'GmarketSansMedium';
    font-size: 22px;
    cursor: pointer;
    padding: 0 10px;
}

.notice_container .notice .text_list > li:hover {
    color: red;
}

.notice_board > table {
    border-collapse: separate;
    border-spacing: 0;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.notice_board > table tr td {
    padding: 30px 5px;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    text-align: center;
    border-top: 1px solid #bcbcbc;
}

.notice_board > table tr:last-child td {
    border-bottom: 1px solid #bcbcbc;
}

.now_container {
    display: flex;
    padding-left: 300px;
    padding-top: 150px;
    padding-bottom: 235px;
}

.now_container .now_content {
    width: 335px;
    padding: 0 10px;
}

.now_container .now_content .main_text {
    font-size: 50px;
    font-family: 'GmarketSansLight';
    padding: 65px 0;
    width: 335px;
}

.now_container .now_content .main_text > span {
    font-family: 'GmarketSansMedium';
}

.now_container .now_content .title {
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    padding: 25px 0;
}

.now_container .now_content .date {
    font-family: 'Pretendard-Light';
    font-size: 15px;
    color: #555555;
    padding-bottom: 25px;
    border-bottom: 1px solid #555555;
}

.now_container .now_content:hover .date {
    border-bottom: 1px solid red;
}

.now_department table tbody {
    display: flex;
    justify-content: center;
    align-items: start;
}